<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Le formulaire</title>
    </head>
    <body>
        <p>oubliez pas le 0 qui n'est pas donné !</p>
        <table border="1">
            <tr>
                <td>{{test[0]}}</td>
                <td>{{test[1]}}</td>
                <td>{{test[2]}}</td>
                <td>{{test[3]}}</td>
            </tr>
        </table>
        <br>
        <form action="http://localhost:5000">
            <input type="submit" value="Retour">
        </form>
    </body>
</html>